@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,700&display=swap');
html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Kanit', sans-serif;
  background: rgb(144,110,160);
  background: linear-gradient(180deg, rgb(129, 95, 145) 0%, rgba(144,110,160,1) 20%, rgba(144,110,160,1) 70%, rgb(129, 95, 145) 100%);
}

h1 {
  font-size: 6rem;
  margin: .5rem;
  padding: .25rem;
  text-shadow: 4px 4px rgb(129, 95, 145);
}

input {
  background: transparent;
  border: none;
  margin: 2px;
  color: wheat;
  width: 42px;
  text-align: center;
  border: dashed wheat;
}

.track {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.mute {
  font-size: .75rem;
  font-style: italic;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  border-color: wheat;
  border-style: dashed;
  background-color: rgb(144, 110, 160);
  color: rgba(255, 237, 203, 0.616);
  margin: 2px;
}

.pad, 
.pad4 {
  min-width: 25px;
  max-width: 50px;
  flex-basis: 100%;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  border-style: none;
  background-color:rgb(150, 99, 163);
  color: wheat;
  box-shadow: 2px 2px wheat;
  margin: 2px;
}

.pad4 {
  background-color:rgb(140, 90, 155);
}

.pad:hover,
.pad4:hover {
  box-shadow: 1px 1px;
  /* padding-top: 3px;
  padding-left: 3px; */
}
.pad:active,
.pad4:active,
.active {
  box-shadow: 1px 1px;
  background-color: wheat;
  color:rgb(150, 99, 163);
}

.db {
  font-size: .75rem;
  font-style: italic;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  border-style: none;
  background-color:rgb(144, 110, 160);
  color: rgba(255, 237, 203, 0.616);
  box-shadow: 2px 2px rgba(245, 222, 179, 0.767);
  margin: 2px;
}

body:before {
  content: '';
  flex: 1;
}

body:after {
  flex: 2;
  content: '';
}

#root {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main {
  width: 95%;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgb(129, 95, 145), -2px -2px 4px rgb(129, 95, 145);
  max-width: 1350px;
}

#tracksContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
}