@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,700&display=swap');

$background-main: rgb(144,110,160);
$background-dark: rgb(129, 95, 145);
$pad-background: rgb(150, 99, 163);
$pad4-background: rgb(140, 90, 155);

$pad-muted: rgba(154, 119, 163, 0.5);
$pad4-muted: rgba(143, 111, 153, 0.5);
$active-muted: rgba(228, 218, 199, 0.411);
$muted-shadow: red;
$mute-button-on: rgba(231, 217, 190, 0.438);

$wheat-main: wheat;
$button-text-wheat: rgba(255, 237, 203, 0.616);
$wheat-button-background: rgba(255, 237, 203);
$wheat-box-shadow-light: rgba(245, 222, 179, 0.767);
$wheat-border-light: rgb(243, 220, 179, .75);
$wheat-border-very-light: rgb(243, 220, 179, .25);

$text: 'Kanit', sans-serif;